<?xml version="1.0"?>
<!-- Various useful macros -->
<robot name="xacro_properties" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Material macros -->
  <xacro:macro name="material_black">
    <visual>
      <material>
        <diffuse>0 0 0 1</diffuse>
        <specular>${80/255} ${80/255} ${80/255} 1</specular>
        <emissive>0 0 0 1</emissive>
      </material>
    </visual>
  </xacro:macro>

<xacro:macro name="material_lightgray">
  <visual>
    <material>
      <diffuse>0.8 0.8 0.8 1</diffuse> 
      <specular>0.1 0.1 0.1 1</specular>
      <emissive>0 0 0.1 1</emissive>
    </material>
  </visual>
</xacro:macro>


  <xacro:macro name="material_red">
    <visual>
      <material>
        <diffuse>1 0 0 1</diffuse>
        <specular>0.5 0.1 0.1 1</specular>
        <emissive>0.1 0 0 1</emissive>
      </material>
    </visual>
  </xacro:macro>

  <xacro:macro name="material_blue">
    <visual>
      <material>
        <diffuse>0 0 1 1</diffuse>
        <specular>0.1 0.1 0.5 1</specular>
        <emissive>0 0 0.1 1</emissive>
      </material>
    </visual>
  </xacro:macro>

  <xacro:macro name="material_yellow">
    <visual>
      <material>
        <diffuse>1 1 0 1</diffuse>
        <specular>0.5 0.5 0.1 1</specular>
        <emissive>0.2 0.2 0 1</emissive>
      </material>
    </visual>
  </xacro:macro>

</robot>